.form-container {
  background-color: #ececec;
  border-radius: 10px;
  padding: 30px 15px 20px 20px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  max-width: 700px;
  margin: auto;
  position: relative;
}

.form-title {
  position: absolute;
  top: 20px;
  left: -20px;

  background-color: #a83f2a;
}

.form-title:before{
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  border-bottom: 50px solid #ececec;

  border-left: 30px solid transparent;
}
.form-title:after {
  content: '';
  position: absolute;
  top: 101%;
  left: 0;
  width: 0;
  height: 0;
  line-height: 0;
  border-left: 20px solid transparent;
  border-top: 15px solid #6b2219;
}

.form-title h3 {
  padding: 5px 250px 5px 30px;
  font-size: 25px;
  font-weight: 400;
  color: #fff;
}

form {
  margin-top: 50px;
}

h3{
  color: white;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
}

label {
  font-weight: bold;
  width: 120px;
  color: #81858b;
}
input {
  width: 400px;
  color: #91989e;
}
select{
  color: #91989e;
}

input, textarea, select {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  flex: 1;
  font-size: 16px;
}

textarea#description {
  height: 100px;
}

.captcha-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.captcha-group input {
  width: 150px;
}

#name {
  background-image: url("../../assets/icon/name.png");
  background-repeat: no-repeat;
  background-position: 10px;
  padding-left: 40px;
}

#email {
  background-image: url("../../assets/icon/email.png");
  background-repeat: no-repeat;
  background-position: 10px;
  padding-left: 40px;
}
#phone {
  background-image: url("../../assets/icon/phone.png");
  background-repeat: no-repeat;
  background-position: 10px;
  padding-left: 40px;
}

img {
  max-width: 100px;
  height: auto;
}

button {
  padding: 10px 20px;
  background-color: #8f99a1;
  color: white;
  border: none;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  align-self: center;
}

button:hover {
  background-color: #636d73;
}
