<div class="form-container">
  <div *ngIf ="!recieved" class="form-title"><h3>Напишите нам</h3></div>
  <form *ngIf ="!recieved" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group error-container">
      <label for="name">Ваше имя:</label>
      <input id="name" type="text" formControlName="name" [ngClass]="{'error': name?.invalid && (submitted && name?.touched)}">
      <div *ngIf="name?.invalid && (submitted && name?.touched)" class="error-message">
        <span *ngIf="name?.errors?.required">Пожалуйста, введите имя.</span>
      </div>
    </div>

    <div class="form-group error-container">
      <label for="email">Ваш Email:</label>
      <input id="email" type="email" formControlName="email" [ngClass]="{'error': email?.invalid && (submitted && email?.touched)}">
      <div *ngIf="email?.invalid && (submitted && email?.touched)" class="error-message">
        <span *ngIf="email?.errors?.required">Пожалуйста, введите email.</span>
        <span *ngIf="email?.errors?.email">Некорректный email.</span>
      </div>
    </div>

    <div class="form-group error-container">
      <label for="phone">Ваш телефон:</label>
      <input id="phone" type="text" formControlName="phone" prefix="+7" mask=" (000) 000-00-00" [dropSpecialCharacters]="false" [ngClass]="{'error': phone?.invalid && (submitted && phone?.touched)}">
      <div *ngIf="phone?.invalid && (submitted && phone?.touched)" class="error-message">
        <span *ngIf="phone?.errors?.required">Пожалуйста, введите телефон.</span>
        <span *ngIf="phone?.errors?.minlength">Некорректный номер телефона.</span>
      </div>
    </div>

    <div class="form-group">
      <label for="topic">Тема:</label>
      <select id="topic" formControlName="topic" [ngClass]="{'error': topic?.invalid && (submitted && topic?.touched)}">
        <option *ngFor="let topic of topics" [value]="topic.id">{{ topic.topic }}</option>
      </select>
      <div *ngIf="topic?.invalid && (submitted && topic?.touched)" class="error-message"></div>
    </div>

    <div class="form-group error-container">
      <label for="description">Ваше <br>сообщение:</label>
      <textarea id="description" formControlName="description" [ngClass]="{'error': description?.invalid && (submitted && description?.touched)}"></textarea>
      <div *ngIf="description?.invalid && (submitted && description?.touched)" class="error-message">
        <p *ngIf="description?.errors?.required">Пожалуйста, введите сообщение.</p>
      </div>
    </div>

    <div class="form-group error-container captcha-container">
      <label for="captcha">Капча:</label>
      <div class="captcha-input">
        <input id="captcha" type="text" formControlName="captcha" [ngClass]="{'error': captcha?.invalid && (submitted && captcha?.touched)}">
        <span class="captcha-text">{{ captchaText }}</span>
      </div>
    </div>

    <button type="submit">Отправить письмо!</button>
  </form>
  <div *ngIf="submitted && contactData">
    <h3 class="received-title">Полученные данные:</h3>
    <p><strong>Имя:</strong> {{ contactData.name }}</p>
    <p><strong>Email:</strong> {{ contactData.email }}</p>
    <p><strong>Телефон:</strong> {{ contactData.phone }}</p>
    <p><strong>Сообщение:</strong> {{ contactData.description }}</p>
    <p><strong>Тема ID:</strong> {{ contactData.topic }}</p>
  </div>
</div>
